outputs
lora_model/
unsloth_compiled_cache/
unsloth_wikitext_v2_model*/
logs/
result.csv
*.log
__pycache__/

*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
*.eg
*.ckpt
ckpt/
*.pth

*.ipynb
*.bin
log.txt
*_log
*.log

flagged/
script/
wandb
log/
tiny_*
lora-*
results

# Ignore for lm-evaluation-harness
env
lm_cache
.idea
*.log
*.egg-info

llm_pruner/figures

distillation/torchtune*